# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.elf

# Code coverage
*.lst

# Disk images
*.part
*.hdd

# Dependencies
deps

# VS code
.vscode
